.student-badge {
    border-radius: 3px;
    padding: 0.4em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.student-badge {
    &.gender-male {
        background: #8a9df3;
        color: #1900ff;
    }

    &.gender-female {
        background: #FFCDD2;
        color: #C63737;
    }
}