<div class="grid">
    <div class="col-12">
        <div class="card px-3 py-3">
            <p-table
                [value]="students()"
                [paginator]="true"
                [rows]="20"
                dataKey="id"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th pSortableColumn="id">#ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="first_name">Name <p-sortIcon field="first_name"></p-sortIcon></th>
                        <th pSortableColumn="age">Age <p-sortIcon field="age"></p-sortIcon></th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="gender">gender <p-sortIcon field="gender"></p-sortIcon></th>
                        <th>
                            <button
                                pButton
                                label="New"
                                icon="pi pi-plus"
                                class="p-button-info mr-2"
                                (click)="newStudentDialogVisible.set('true')"
                            ></button>
                        </th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-student
                    let-expanded="expanded"
                >
                    <tr>
                        <td>
                            <button
                                type="button"
                                pButton
                                pRipple
                                [pRowToggler]="student"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="
                                expanded
                                 ? 'pi pi-chevron-up'
                                  : 'pi pi-chevron-down'
                                  "
                            ></button>
                        </td>
                        <td>{{ student.id }}</td>
                        <td>
                            {{ student.first_name + " " + student.last_name }}
                        </td>
                        <td>{{ student.age }}</td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.gender }}</td>
                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger"
                                    (click)="onDeleteStudentEvent(student)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-student>
                    <tr>
                        <td colspan="12">
                            <div class="card flex justify-content-around">
                                <div *ngFor="let course of courseList" class="flex align-items-center">
                                    <!-- <p-checkbox [(ngModel)]="student.courses" [id]="course.value" [label]="course.name" name="group" [value]="course.value" /> -->
                                    <input type="checkbox" [checked]="student.courses.includes(course.value)" [id]="course.value" (change)="onCourseChangeEvent($event, student, course)"/>
                                    <label [for]="course.value">{{ course.value }}</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <p-dialog [(visible)]="newStudentDialogVisible" [style]="{width: '450px'}" header="Student Details" [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">
                    <div class="field">
                        <label for="name">Name</label>
                        <input type="text" pInputText id="name" [(ngModel)]="newStudent.first_name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted() && !newStudent.first_name}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted() && !newStudent.first_name">Name is required.</small>
                    </div>
                    <div class="field">
                        <label for="surename">Surename</label>
                        <input type="text" pInputText id="surename" [(ngModel)]="newStudent.last_name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted() && !newStudent.last_name}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted() && !newStudent.last_name">Surename is required.</small>
                    </div>
                    <div class="field">
                        <label for="age">Age</label>
                        <p-inputNumber id="age" [(ngModel)]="newStudent.age"></p-inputNumber>
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input type="text" pInputText id="email" [(ngModel)]="newStudent.email" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted() && !newStudent.email}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted() && !newStudent.email">Email is required.</small>
                    </div>
                    <label for="courses">Courses</label>
                    <div class="field card flex">
                        <div class="flex gap-3">
                            <div *ngFor="let course of courseList" class="">
                                <p-checkbox
                                    [(ngModel)]="newStudent.courses"
                                    [label]="course.name" 
                                    name="group" 
                                    [value]="course.value" />
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveStudent()"></button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>
