<div class="layout-topbar mk-layout-topbar">
    
    <button #menubutton class="p-link layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <button class="p-link mx-3" (click)="menu.toggle($event)">
        <img src="assets\demo\images\avatar\bernardodominic.png" alt="Image" height="50">
    </button>
    <p-menu #menu [model]="items" [popup]="true" />
    
    <a class="layout-topbar-logo" routerLink="">
        <span>{{ authService.userName() }}</span>
    </a>

</div>